<ng-container *ngIf="pokemons$ | async as pokemons">
  <table>
    <thead>
      <th (click)="handleSorting('id')">ID</th>
      <th (click)="handleSorting('name')">Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{ pokemon.id }}</td>
        <td>{{ pokemon.name }}</td>
        <td>
          <a [routerLink]="['/', pokemon.id]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            />
          </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="handlePrevious()">Previous</button>
  <button (click)="handleNext()">Next</button>
</ng-container>
