<nav>
  <a [routerLink]="['/']"><app-icon [name]="iconName.CHEVRON_LEFT" />Back</a>
</nav>

<ng-container *ngIf="pokemon" class="container">
  <h1 class="name">{{ pokemon.name }}</h1>
  <p>#{{ pokemon.id }}</p>
  <app-pokemon-image
    [pokemonId]="pokemon.id"
    height="256"
    width="256"
    [imageDescription]="pokemon.name"
  />

  <h2>Types</h2>
  <div *ngFor="let type of pokemon.types">
    <app-pokemon-type-icon [pokemonType]="type.name" />
  </div>

  <h2>Stats</h2>
  <app-table [data]="pokemon.stats" description="List of stats">
      <ng-template #headers>
        <th>stat</th>
        <th>value</th>
      </ng-template>
      <ng-template #rows let-row>
        <td>{{ row.name }}</td>
        <td class="align-right">{{ row.baseStat }}</td>
      </ng-template>
  </app-table>

  <h2>Evolutions</h2>
  <div
    class="evolutions-container"
    *ngFor="let evolution of pokemon.evolutions"
  >
    <app-pokemon-image
      [routerLink]="['/', evolution.id]"
      [pokemonId]="evolution.id"
      height="64"
      width="64"
      [imageDescription]="evolution.name"
    />
  </div>
</ng-container>
