<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label for="input_name">Name</label>
  <input id="input_name" type="text" name="name" formControlName="name" />

  <label for="input_types">Pokemon types</label>
  <select id="input_types" formControlName="type" (change)="onTypeChange()">
    <option selected [ngValue]="0">All</option>
    <option *ngFor="let pokemonType of pokemonTypes" [ngValue]="pokemonType.id">
      {{ pokemonType.name }}
    </option>
  </select>

  <label for="input_order_by">Order by</label>
  <select
    id="input_order_by"
    formControlName="sortField"
    (change)="onSortFieldChange()"
  >
    <option *ngFor="let sortField of sortFields" [ngValue]="sortField">
      {{ sortField }}
    </option>
  </select>

  <label for="input_sort_order">Sort by</label>
  <select
    id="input_sort_order"
    formControlName="sortOrder"
    (change)="onSortOrderChange()"
  >
    <option selected [ngValue]="sortOrder.ASC">Ascending</option>
    <option [ngValue]="sortOrder.DESC">Descending</option>
  </select>
</form>
