<section role="search">
  <app-pokemon-search
    [pokemonTypes]="pokemonTypes$ | async"
    [sortFields]="sortablePokemonFields"
    (typeChange)="setType($event)"
    (nameChange)="setName($event)"
    (sortFieldChange)="setSorting($event)"
    (sortOrderChange)="setSortOrder($event)"
  />
</section>

<main>
  <ng-container *ngIf="pokemons$ | async as pokemons">
    <app-table [data]="pokemons" description="List of Pokemon">
      <ng-template #headers>
        <th></th>
        <th>id</th>
        <th>name</th>
        <th>height</th>
        <th>base experience</th>
        <th>types</th>
        <th></th>
      </ng-template>
      <ng-template #rows let-row>
        <td>
          <app-pokemon-image
            [pokemonId]="row.id"
            [imageDescription]="row.name"
            height="64"
            width="64"
          />
        </td>
        <td class="align-right">{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td class="align-right">{{ row.height }}</td>
        <td class="align-right">{{ row.baseExperience }}</td>
        <td>{{ row.types | pokemonTypesToString }}</td>
        <td>
          <a [routerLink]="['/', row.id]" [attr.aria-label]="row.name">
            <app-icon [name]="iconName.CHEVRON_RIGHT"></app-icon>
          </a>
        </td>
      </ng-template>
    </app-table>
  </ng-container>

  <nav>
    <app-button (click)="setPreviousOffset()" label="Previous Pokemon">
      <app-icon [name]="iconName.CHEVRON_LEFT"></app-icon>
      <span>Previous Pokemon</span>
    </app-button>

    <app-button (click)="setNextOffset()" label="Next Pokemon">
      <span>Next Pokemon</span>
      <app-icon [name]="iconName.CHEVRON_RIGHT"></app-icon>
    </app-button>
  </nav>
</main>
